html {
    font-family: 'Dongle', sans-serif;
    font-size: 22px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dimensioni-section {
    width: 100%;
    height: 90vh;
}

.section-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

/* navbar */
nav {
    width: 80%;
    height: 100px;
    line-height: 100px;
    margin: auto;
}

.logo {
    width: 15%;
    float: left;
}

.logo img {
    width: 150px;
    vertical-align: middle;
}

.contenitore-lista-link {
    display: inline-block;
    margin-left: 160px;
}

.contenitore-lista-link .lista-link {
    list-style: none;
}

.lista-link li {
    display: inline-block;
}

.lista-link li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-right: 30px;
}

.accedi {
    width: 15%;
    float: right;
}

.link-generale {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    padding: 2px 12px;
    border-radius: 30px;
}

.contenuto-header {
    width: 40%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenuto-header .titolo-header {
    color: white;
    font-size: 4rem;
}

.contenuto-header .paragrafo-header {
    color: white;
    font-weight: bold;
    line-height: 1rem;
    font-size: 25px;
}

.bottoni-header {
    margin-top: 30px;
}

.bottoni-header .bottone2 {
    color: white;
    background-color: black;
    margin-left: 20px;
}