html {
    font-family: 'Dongle', sans-serif;
    font-size: 22px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* modifico lo sfondo */
.dimensioni-section {
    width: 100%;
    height: 90vh;
    position: relative;
}

.section-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;

}

/* navbar */
nav {
    width: 80%;
    height: 100px;
    line-height: 100px;
    margin: auto;
}

/* logo navbar  */
.logo {
    width: 15%;
    float: left;
}

.logo img {
    width: 150px;
    vertical-align: middle;
}

/* lista link navbar  */
.contenitore-lista-link {
    display: inline-block;
    margin-left: 160px;
}

.contenitore-lista-link .lista-link {
    list-style: none;
}

.lista-link li {
    display: inline-block;
}

.lista-link li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin-right: 30px;
}

/* tasto link accedi  */
.accedi {
    width: 15%;
    float: right;
}

.link-generale {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    padding: 2px 12px;
    border-radius: 30px;
}

/* elementi all interno dell header, titolo, p e due link  */
.contenuto {
    width: 40%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* titolo  */
.contenuto .titolo-header {
    color: white;
    font-size: 4rem;
}

/* paragrafo  */
.contenuto .paragrafo-header {
    color: white;
    font-weight: bold;
    line-height: 1rem;
    font-size: 25px;
}

/* i due link in basso  */
.bottoni-header {
    margin-top: 30px;
}

.bottoni-header .bottone2 {
    color: white;
    background-color: black;
    margin-left: 20px;
}







/* section numero 2 */

.contenuto-section {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* immagine section  */
.immagine-section2 {
    width: 50%;
    float: left;
}

/* div del testo nella section  */
.contenitore-testo-section2 {
    width: 25%;
    display: inline-block;
}

/* caratteristiche titolo section  */
.titolo-section {
    font-size: 3rem;
    line-height: 1.9rem;
    text-align: left;
    margin-top: 35px;
}

/* caratteristiche testo nella section  */
.testo-section {
    text-align: left;
    font-size: 35px;
    line-height: 1rem;
    margin-top: 20px;
}



/* section numero 3 */
.immagine-section3 {
    width: 50%;
    float: right;
}




/* section numero 5 */

/* accentro le scritte  */
.text-align-center {
    text-align: center;
    width: 70%;
    margin: auto;
}


.h2 {
    margin-bottom: 30px;
}

/* dimensiono e accentro l immagine  */
.immagine-section5 {
    width: 38%;
    margin: auto;
}

.immagine-section5 img {
    text-align: center;
    width: 100%;
    margin: auto;
}

/* metto le stelline come sfondo */
.stars {
    background-image: url(../img/stars.svg);
    background-position: top;
    background-repeat: no-repeat;
    width: 40%;
    margin: auto;
}

/* gestisco le caratteristiche del bottone in basso  */
.link-section5 {
    width: 10%;
    margin: auto;
}

.link-section5 .bottone5 {
    background-color: hsl(226deg 58% 72%);
    color: white;
}



/* footer  */
.colorblack {
    background-color: black;
}